<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">

    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">

        <h1>ASP Tool</h1>
      </a>
    </div>

    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/patients">Patients</a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-header>
      <div class="app-header">
        <div nz-row>
          <div nz-col [nzSpan]="1">
            <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
            </span>
          </div>

          <div nz-col [nzSpan]="18">
            <ul nz-menu nzMode="horizontal">
              <li nz-menu-item nzSelected>
                <a>PATIENT LIST</a>
              </li>
            </ul>
          </div>

          <div nz-col [nzSpan]="3">
            <lib-ape-search></lib-ape-search>
          </div>

          <ng-container *ngIf="isAuthenticated$ | async; else login">
            <div nz-col [nzSpan]="1">
              <nz-avatar nzText="JM"></nz-avatar>
            </div>

            <div nz-col [nzSpan]="1">
              <a (click)="logoutClickHandler()"><span>LOGOUT</span></a>
            </div>
          </ng-container>

          <ng-template #login>
            <div nz-col [nzSpan]="1">
              <a (click)="loginClickHandler()"><span>LOGIN</span></a>
            </div>
          </ng-template>
        </div>
      </div>
    </nz-header>

    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>